﻿@{
ViewData["Title"] = "Rate Page";
}
<div class="container mt-5">	
	<p class="text-center h5"> 
		@Model
	</p>
	<p class="row mt-5">
		<a asp-controller="Rate" asp-action="CalculateRate">Back to form</a>		
	</p>
	
<div>


