﻿@{
	ViewData["Title"] = "Form Page";
}
<form method="post" class="container">
	<p class="row">
		<label class="col-2 col-form-label" for="currency">Выберите валюту:</label>
		<select class="form-control col-3" name="currencyId">
			@foreach (var currency in Model)
			{
				<option value="@currency.Key">@currency.Value.Name</option>
			}
		</select>
	</p>

	<p class="row">
		<label class="col-2 col-form-label" for="date">Выберите дату:</label>
		<input class="form-control col-3" name="targetDate" id="datepicker" type="text" value="@DateTime.Now.ToString(@"dd'/'MM'/'yyyy")" />
		
	</p>

	<p class="row">
		<input id="submitbtn" class="ml-3 btn btn-primary" type="submit" value="Отправить" />
	</p>
</form>

@section Scripts
{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker({ dateFormat: "dd/mm/yy" });
        });
    </script>
}

